@{
    ViewBag.Title = "Conflicts";
}

<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-danger" id="saveUser">Save User</button>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/chat.js"></script>
}    