@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-sm-6">
        <form role="form">
            <div class="form-group">
                <label for="message">Chat Message</label>
                <textarea class="form-control input-lg" id="message" placeholder="Message" rows="15" cols="45"></textarea>
            </div>
            <button class="btn btn-success btn-lg" id="send">Send</button>
        </form>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Messages</div>
            <ul id="messages" class="list-group list-group-flush"></ul>
        </div>
        <button class="btn btn-danger btn-sm pull-right" id="clear">Clear</button>
    </div>
</div>
<div class="row" style="padding-top: 20px;">
    <div class="col-sm-12">
        <p class="bg-info" style="height: 50px;">
            Chat : Enter a message in the text box and click the Send button.
            The chat message will appear on every connected client. All sent messages from any client will show in the
            messages list.
        </p>
    </div>
</div>


@section scripts
{
    <script src="~/Scripts/chat.js"></script>
}