@{
    ViewBag.Title = "News";
}

<div class="row">
    <div class="col-lg-12">
        News Title :
        <input type="text" id="newsTitle" name="newsTitle" />
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        News Body :
        <textarea id="newsBody" name="newsBody" rows="10" cols="15"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-danger" id="addNews">Add News Item</button>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/chat.js"></script>
}    